@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Kaushan+Script&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

#container {
    height: 100vh;
    background: linear-gradient(rgba(47, 198, 101, 0.8), rgba(72, 94, 107, 0.7)), url('../img/jardinfleur1.jpg');
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

header .logo img {
    margin: 0;
    width: 150px;
    height: auto;
}

header .menu {
    display: flex;
    list-style: none;
}

header .menu li {
    margin: 0 15px;
}

header .menu li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
}

.container-text {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container-text h1 {
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
    font-family: 'Kaushan Script', cursive;
}

.container-text p {
    color: #fff;
    font-size: 16px;
    margin: 20px 0 30px 0;
}

.container-text a {
    color: #fff;
    text-decoration: 0;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 2px solid#fff;
    border-radius: 6px;
    transition: 0.5s;
}

.container-text a:hover {
    letter-spacing: 1px;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.resultat h3,
.plant-selection h3,
.default-info h3 {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #2fc665;
    font-size: 35px;
    text-transform: capitalize;
    font-family: 'Kaushan Script', cursive;
}

.resultat h4 {
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #485e6bcc;
    font-size: 20px;
    text-transform: capitalize;
}

.default-info h2,
.plant-selection h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #2fc665;
    font-size: 40px;
    text-transform: capitalize;
    font-family: 'Kaushan Script', cursive;
}

p,
.default-info li {
    width: 90%;
    margin-left: 5%;
    text-align: justify;
    font-size: 20px;
}




form {
    margin-bottom: 20px;
}

#plants {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #eee;
}

footer {
    background-color: #485e6bcc;
    text-align: center;
    padding: 10px 0;
    color: #fff;

}

footer {
    background-color: #2fc665;
    text-align: center;
    padding: 10px 0;
    color: #fff;

}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div i {
    margin-right: 5px;
}

.watering-day {
    background-color: #cff4fc;
}

/* multitag*/


@media (max-width:784px) {
    #container {
        padding: 5px 20px;
    }

    header .menu {
        display: none;
    }

    header .menu-toggle {
        border: 2px solid #fff;
        height: 50px;
        width: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
    }

    header .menu-toggle::before {
        position: absolute;
        content: "";
        width: 28px;
        height: 2px;
        background-color: #fff;
        transform: translateY(-10px);
        box-shadow: 0 10px #fff;
        transition: 0.2s;
    }

    header .menu-toggle.active::before {
        transform: translate(0) rotate(45deg);
        box-shadow: 0 0 #fff;
    }

    header .menu-toggle::after {
        position: absolute;
        content: "";
        width: 28px;
        height: 2px;
        background-color: #fff;
        transform: translateY(10px);
        transition: 0.5s;
    }

    header .menu-toggle.active::after {
        transform: translate(0) rotate(-45deg);

    }

    header .menu.responsive {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 100px;
        height: fit-content;
        background-color: #2fc665;
        width: 200px;

    }

    header .menu.responsive li {
        text-align: center;
        margin: 25px 0;
    }

    .container-text h1 {
        font-size: 35px;
    }

    .container-text p {
        font-size: 15px;
    }
}