@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Kaushan+Script&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../img/contact1.jpg);
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #2fc665;
}

header .logo img {
    margin: 20px;
    width: 150px;
    margin-bottom: 5px;
    height: auto;
}

header .menu {
    display: flex;
    list-style: none;
}

header .menu li {
    margin: 0 15px;
}

header .menu li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 500;
    color: white;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contact-info .box .icon {
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contact-info .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contact-info .box .text h3 {
    font-weight: 500;
    color: #2fc665;
}

.contact-form {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contact-form h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}


.contact-form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .inputBox input,
.contact-form .inputBox textarea {
    width: 100;
    padding: 5px 0;
    font-size: 16px;
    margin: 16px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contact-form .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    margin: 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .inputBox input:focus~span,
.contact-form .inputBox input:valid~span,
.contact-form .inputBox textarea:focus~span,
.contact-form .inputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: rotateY(-30px);
}

.contact-form .inputBox input[type="submit"] {
    width: 100px;
    background-color: #2fc665;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

footer {
    background-color: #2fc665;
    text-align: center;
    padding: 10px 0;
    color: #fff;

}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div i {
    margin-right: 5px;
}

@media (max-width:991px) {
    header .menu {
        display: none;
    }

    header .menu-toggle {
        border: 2px solid #fff;
        height: 50px;
        width: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 2;
    }

    header .menu-toggle::before {
        position: absolute;
        content: "";
        width: 28px;
        height: 2px;
        background-color: #fff;
        transform: translateY(-10px);
        box-shadow: 0 10px #fff;
        transition: 0.2s;
    }

    header .menu-toggle.active::before {
        transform: translate(0) rotate(45deg);
        box-shadow: 0 0 #fff;
    }

    header .menu-toggle::after {
        position: absolute;
        content: "";
        width: 28px;
        height: 2px;
        background-color: #fff;
        transform: translateY(10px);
        transition: 0.5s;
    }

    header .menu-toggle.active::after {
        transform: translate(0) rotate(-45deg);

    }

    header .menu.responsive {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 100px;
        height: fit-content;
        background-color: #2fc665;
        width: 200px;
        z-index: 1;

    }

    header .menu.responsive li {
        text-align: center;
        margin: 25px 0;
    }

    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container.contact-info {
        margin-bottom: 40px;
    }

    .container .contact-info,
    .contact-form {
        width: 100%;
    }

}